#put in /etc/udev/rules.d/
SUBSYSTEM=="block", KERNEL=="sd?", ACTION=="add" PROGRAM="/home/vuser/hdd-testing/portdetector.py %k $devpath $name" SYMLINK+="disk/by-port/%c"