[Unit]
Description=hddmon daemon
Requires=udev.service

[Service]
ExecStart=/etc/hddmon/env/bin/python3.8 /etc/hddmon/hddmond.py
Restart=always
StandardOutput=file:/etc/hddmon/o.log
StandardError=file:/etc/hddmon/e.log
User=root
Group=root

[Install]
Alias=hddmond


