[Unit]
Description=hddmon daemon
Requires=udev.service

[Service]
ExecStart=/etc/hddmon/env/bin/python3.8 /etc/hddmon/hddmond.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
Alias=hddmond


